// Fonts
$primaryFont: "Roboto", sans-serif;

// colors
$global-grey: #FBFCFD;
$light-grey: #F0F0F0;
$pale-grey: #F2F3F4;
$pale-yellow: #fef08a;
$pale-blue: #e5eeff;

//common-style
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
