@import './mixins';
@import './common';

*{
    margin:0;
    padding:0;
    text-decoration: none;
}

::selection{
    background: $pale-blue;
}

.app-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $global-grey;

    section{
        width: 70%;
        margin:0 auto;
        vertical-align: middle;
        ul{
            width: 40%;
            margin: 0 auto;
            height: 20rem;
            list-style-type: none;
            overflow-y: scroll;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            li{
                width: 100%;
                height: 4rem;
                box-shadow: $shadow;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include font($primaryFont, 18px, 900);

                a{
                    color: $black;
                    vertical-align: middle;
                }
            }
        }
    }
}

.transcript-root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .transcript-text_container{
        box-sizing: border-box;
        height: 90%;
        padding: 2rem 4rem;
        margin-bottom: 3.125rem;
        box-shadow: $shadow;
        overflow-y: auto;
    }

    .transcript-title{
        width: 50%;
        display: flex;
        margin-bottom: 1rem;
        @include font($primaryFont, 22px, 900);
    }
    .transcript-blocks{
        @include font($primaryFont, 16px, 400);
        p{
            margin-bottom: 1rem;
        }
    }

    .transcript-audio_container{
        position: fixed;
        bottom: 0;
        left: 0; 
        width: 100%;
        height:10%;
        box-sizing: border-box;
        background-color: $light-grey; 
        padding: 10px 15px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        audio{
            width: 100%;
            margin: 0 auto;
            background-color: $pale-grey;
            border-radius: 30px;
            box-shadow: $shadow;
        }
    }
}

.active-word{
    background-color: $pale-yellow;
}

.fallback-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $primaryFont;
}