*{
    margin:0;
    padding:0;
}

.transcript-root{
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .transcript-text_container{
        margin-bottom: 3.125rem;
    }

    .transcript-title{
        width: 50%;
        display: flex;
        margin-bottom: 1rem;
    }
    .transcript-blocks{
        font-size: 16px;

        p{
            margin-bottom: 1rem;
        }
    }

    .transcript-audio_container{
        position: fixed;
        bottom: 0;
        left: 0; 
        width: 100%;
        background-color: #f0f0f0; 
        padding: 10px;
        margin-top: 20px;
        // audio{
            
        // }
    }
}

.active-word{
    background-color: bisque;
}